.upper-container{
    text-align: center;
    font-family: 'Baskervville', serif;
    color: darkgrey;
    font-size: 35px;
    background-image: url('https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    border: 0px;
    background-size: contain;
}
.college{
    margin-top: 30px;
}
.about-me{
    font-family: 'Montserrat', sans-serif;
    color:#008B8B
}
.head{
    color: 	#006400;
}
.links{
    font-family: 'Montserrat', sans-serif;
    color: #008B8B
}
img{
    border-radius:18px;
}
.college{
    border-radius: 0px;
}
.final{

    background-color: #008080;
    border:0px;
}